/* fonts */
@font-face {
    font-family: 'BAR SADY';
    src: url('./fonts/bar-sady-font/BARSADY-Regular.woff2') format('woff2'),
        url('./fonts/bar-sady-font/BARSADY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('./fonts/ubuntu-font/UbuntuMono-Regular.woff2') format('woff2'),
        url('./fonts/ubuntu-font/UbuntuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/open-sans-font/OpenSans.woff2') format('woff2'),
        url('./fonts/open-sans-font/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* fonts */

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}

*:not(dialog) {
margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
html {
  interpolate-size: allow-keywords;
}
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}
/* Reset */
:root{
    --primary-font : "Open Sans";
    --form-font : 'Ubuntu Mono';
    --icon-font : 'BAR SADY';

    --main-content-gap-padding: 4rem ;
}
:root.light{
    --button-hover: hsla(74, 32%, 32%, 1);
    --logo-header: hsla(88, 38%, 15%, 1);
    --background-color: hsla(52, 94%, 94%, 1);
    --label-link: hsla(28, 67%, 44%, 1);
    --main-form :  hsl(19, 100%, 98%);
    --input-hover: hsl(19, 100%, 90%);
    --font-color:black;
    --shadow : 1px 2px 5px gray;

}
:root.dark{
    --button-hover: hsl(214, 23%, 56%);
    --logo-header: #e0e1dd;
    --background-color: hsl(211, 53%, 11%);
    --label-link: hsl(278, 100%, 70%);
    --main-form : hsl(219, 37%, 20%);
    --input-hover: hsl(270, 73%, 40%);
    --font-color: hsl(0, 50%, 90%);
    --visited : #00a6fb;
    --shadow : 1px 1px 3px hsl(0, 0%, 2%);
    --button :hsl(219, 37%, 25%);

    
}
*{
    transition: 0.35s;
}
body{
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: var(--primary-font);
    color: var(--font-color);
}
.mode{
    position: absolute;
    top: -80px;
    right: 20px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border-style: none;
}
.mode > img{
    text-align: center;
    width: 4rem;
}

a:hover,
a:focus{
    color: var(--label-link);
    text-decoration: none;
}
a:visited:not(:hover){
    color: var(--visited);
}
/* side section */
.side-section{
    display: flex;
    justify-content: center;

    position:relative;
    width: 40%;
    height: 100vh;
}

.side-section-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.side-section-header{    
    position: absolute;
    top: 40%;
    width: 100%;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    font-family: var(--icon-font);
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    
    background-color:var(--background-color);
    color: var(--logo-header);
    opacity: 0.8;
}
.logo{
    width: 8rem ;
    margin: 0 0 1rem -3rem;
}
.img-credit{
    font-family: var(--form-font);
    align-self: flex-end;
    color: black;
}

/* side section */

/* main content */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    padding: var(--main-content-gap-padding);
    gap: var(--main-content-gap-padding);
    

    background-color: var(--background-color);
}
.main-text{
    max-inline-size: 66ch;
}
.quote{
    font-weight: bold;
    margin-bottom: 1rem;
}
.form-note{
    margin: 1rem 0 0.5rem 0; 
}

.main-form-wrapper{
    background-color: var(--main-form);
    padding: var(--main-content-gap-padding);
    margin: calc( var(--main-content-gap-padding) - (var(--main-content-gap-padding) * 2));
    box-shadow: var(--shadow);

}


.form-inputs{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
}
label{
    display: block;
    font-size: 0.9rem;
    font-family: var(--form-font);
    letter-spacing: 0.1rem;
    margin-left: 4px;
}
input{
    background-color: var(--background-color);

    outline: none;

    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 0.15rem 0.5rem;

}
input:user-invalid{
    border-color: rgb(167, 19, 19);
}

input:user-valid{
    border-color: rgb(13, 137, 13);
}
input:user-invalid + span::after{
    content: "✘";
    color: red;
    margin-left: -30px ;
}
input:user-valid + span::after{
    content: "✔";
    color: green;
    margin-left: -30px ;
}
input:hover,
input:focus{
    background-color: var(--input-hover);
    box-shadow: var(--shadow);
}

label:has(+ input:focus),
label:has(+ input:hover){
    color: var(--label-link);
    padding-left: 1rem;
}
button{
    outline: none;
    margin-top: 100px;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    border-style:none ;

    width: 15rem;
    height: 3rem;
    
    background-color: var(--button,var(--background-color));
    color: var(--button-hover);
    box-shadow: var(--shadow);
    cursor: pointer;
}

button:hover{
    background-color: var(--button-hover);
    color: var(--background-color) ;
    margin-left: 10px;
}
button:active{
    padding: 3px;
}
.log-in{
    margin-top: 2rem;
}

