/* fonts */
@font-face {
    font-family: 'BAR SADY';
    src: url('./fonts/bar-sady-font/BARSADY-Regular.woff2') format('woff2'),
        url('./fonts/bar-sady-font/BARSADY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('./fonts/ubuntu-font/UbuntuMono-Regular.woff2') format('woff2'),
        url('./fonts/ubuntu-font/UbuntuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/ubuntu-font/Ubuntu-Medium.woff2') format('woff2'),
        url('./fonts/ubuntu-font/Ubuntu-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* fonts */

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}

*:not(dialog) {
margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
html {
  interpolate-size: allow-keywords;
}
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}
/* Reset */

:root{
    --primary-font : sans-serif;
    --form-font : 'Ubuntu Mono';
    --icon-font : 'BAR SADY';
    --olive-leaf: hsla(74, 32%, 32%, 1);
    --black-forest: hsla(88, 38%, 15%, 1);
    --cornsilk: hsla(52, 94%, 94%, 1);
    --sunlit-clay: hsla(32, 65%, 62%, 1);
    --copperwood: hsla(28, 67%, 44%, 1);
}

body{
    font-size: 18px;
    width: 100vw;
    display: flex;
    font-family: var(--primary-font);
}
a:hover{
    color: var(--copperwood);
    text-decoration: none;
    transition: 0.3s;
}
/* side section */
.side-section{
    display: flex;
    justify-content: center;

    position:relative;
    width: 40%;
    height: 100vh;
}
.side-section-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.side-section-header{    
    position: absolute;
    top: 40%;
    width: 100%;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    font-family: var(--icon-font);
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    
    background-color:var(--cornsilk);
    color: var(--black-forest);
    opacity: 0.8;
}
.logo{
    width: 8rem ;
    margin: 0 0 1rem -3rem;
}
.img-credit{
    font-family:var(--form-font);
    align-self: flex-end;

}
/* side section */

/* main content */
.main-text{
    max-inline-size: 66ch;
}
.quote{
    font-weight: bold;
    margin-bottom: 1rem;
}
.form-note{
    margin-bottom: 1rem; 
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    padding: 4rem;
    gap: 4rem;
    

    background-color: var(--cornsilk);
}
.main-form-wrapper{
    background-color: hsl(0,0%,98%);
    padding: 4rem;
    margin: -4rem;
    box-shadow: 1px 2px 7px gray;

}

.form-inputs{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
}
label{
    display: block;
    font-size: 0.9rem;
    font-family: var(--form-font);
    letter-spacing: 0.1rem;
    margin-left: 4px;

    transition: 0.4s;
}
input{
    background-color: var(--cornsilk);

    outline: none;

    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 0.15rem 0.5rem;

    transition: 0.4s;
}
input:user-invalid{
    border-color: rgb(167, 19, 19);
}

input:user-valid{
    border-color: rgb(13, 137, 13);
}
input:user-invalid + span::after{
    content: "✘";
    color: red;
    margin-left: -30px ;
}
input:user-valid + span::after{
    content: "✔";
    color: green;
    margin-left: -30px ;
}
input:hover,
input:focus{
    background-color: hsl(0, 0%, 98%);
    box-shadow: 1px 2px 5px ;
    transition: 0.3s;
}

label:has(+ input:focus),
label:has(+ input:hover){
    color: var(--copperwood);
    padding-left: 1rem;
    transition: 0.3s;
}
button[type="submit"]{
    margin-top: 100px;
    padding: 0.25rem 0.5rem;

    border-radius: 8px;
    width: 15rem;
    height: 3rem;
    
    background-color: var(--cornsilk);
    color: var(--olive-leaf);

    transition: 0.4s;
}

button:hover{
    background-color: var(--olive-leaf);
    color: var(--cornsilk) ;
    margin-left: 10px;
    transition: 0.3s;
}
.log-in{
    margin-top: 2rem;
}

