@font-face {
    font-family: 'BAR SADY';
    src: url('BARSADY-Regular.woff2') format('woff2'),
        url('BARSADY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

